include 1-includes/_var/variables.pug

include 1-includes/1-head.pug
body
  include 1-includes/2-header.pug
  include 1-includes/3-nav.pug
  include 1-includes/4-main.pug
  include 1-includes/5-aside.pug
  include 1-includes/6-footer.pug
  script(
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
  )
  script(
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  )
