-
  let pageTitle = "Eric Trotchie";

  let pages = {
                "projects": "#projects",
                "about": "#about"
              };

  let myPhoto = "img/Me/me.jpg";

  let gitLogo = "img/Octocat/Octocat.png";

  let gh_account = "https://github.com/Eric-JT";
