.page-header
  header.container
    .row
      img(
        src=myPhoto
      ).img-circle.col-sm-6.my-photo.center-block
      h1.col-sm-6 #{pageTitle}
    p.tagling
      Just a guy who enjoys coding and random adventures
