main.container

  article.row#project

    h2#projects previous projects

    section.col-md-6
      h3 Project One
      img(
        src="http://www.stevensegallery.com/460/300"
      ).img-thumbnail.col-lg-12.my-photo.center-block
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.

    section.col-md-6
      h3 Project Two
      img(
        src="http://www.stevensegallery.com/140/200"
      ).img-thumbnail.col-lg-12.my-photo.center-block
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.

    section.col-md-12
      h3 More To Come
      img(
        src="http://www.stevensegallery.com/284/196"
      ).img-thumbnail.col-lg-12.my-photo.center-block

      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.

  article.row#about-bg

    h2#about about me

    section.col-md-12
      h3 Hello, world!
      img(
        src=myPhoto
      ).img-rounded.col-lg-12.my-photo.center-block

      p.
        I was born in 1989 and raised in Saskatoon, Saskatchewan.
        From early on I had a love for music, skateboards, and computers.
        For the past two years I have taken a strong interest in web
        software development. Now living in Vancouver, BC, I hope to
        make the career change into the technology industry.
